[submodule "planetoplot"]
	path = planetoplot
	url = git@github.com:aymeric-spiga/planetoplot.git
[submodule "insight-atmosphere-nature-geoscience"]
	path = insight-atmosphere-nature-geoscience
	url = git@github.com:aymeric-spiga/insight-atmosphere-nature-geoscience.git
        branch = automatic_erp
